@import "../../styles/variables.scss";

.masonry {
  column-count: 4;
  column-width: 200px;

  div {
    margin-bottom: 12px;
    break-inside: avoid-column;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 12px;
}

.title{
  color: $orange;
  text-transform: capitalize;
}
