@import "../../styles/variables.scss";

.container {
  margin: 24px 0;
  .title {
    color: $orange;
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 12px;
    font-weight: 800;
    font-size: 24px;
  }
  
}

// .masonry {
//   column-count: 4;
//   column-width: 200px;
// }
// .masonry > div {
//   margin-bottom: 12px;
//   break-inside: avoid-column;
// }

.masonry_grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -12px; /* gutter size offset */
  width: auto;
}
.masonry_grid_column {
  padding-left: 24px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.masonry_grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

