@import "../../styles/variables.scss";

.container {
  margin: 24px 0;
  .title {
    color: $orange;
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 12px;
    font-weight: 800;
    font-size: 24px;
  }
  
}

.masonry {
  column-count: 4;
  column-width: 200px;
}
.masonry > div {
  margin-bottom: 12px;
  break-inside: avoid-column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 12px;
}

