@import "../variables.scss";
.footer {
  background-color: #272727;
  height: auto;
  margin-top: auto;
  .footer-content {
    padding: 12px 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .heart {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 12px;
      &:hover{
        color: $cyan;
      }
    }

    .signature {
      cursor: pointer;

      .text {
        animation: text 4s ease infinite forwards;
        stroke-dasharray: 313;
        stroke-dashoffset: 313;
      }
      .point {
        animation: point 4s ease infinite forwards;
        stroke-dasharray: 26;
        stroke-dashoffset: 26;
      }
      .dash {
        animation: dash 4s ease infinite forwards;
        stroke-dasharray: 108;
        stroke-dashoffset: 108;
      }

      &:hover {
        .text,
        .point,
        .dash {
          stroke: $cyan;
        }
      }
    }
    @media (min-width: 768px) {
      .heart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        svg {
          display: block;
          margin: auto;
          height: 20px;
          overflow: visible;
          margin: 7px 0 0;

          transition: transform 0.3s;
          use {
            stroke: red;
            opacity: 0;
            animation: pulsing 1000ms ease-out infinite;
          }
        }

        &:hover {
          cursor: pointer;
          color: $cyan;
          svg {
            transform: scale(1.5);
          }
        }
      }
    }
  }
}

@keyframes text {
  0% {
    stroke-dashoffset: 313;
  }
  60% {
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes point {
  0% {
    stroke-dashoffset: 26;
  }
  60% {
    stroke-dashoffset: 26;
  }
  70% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 108;
  }
  70% {
    stroke-dashoffset: 108;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes pulsing {
  from {
    opacity: 0.5;
    stroke-width: 0;
  }
  to {
    opacity: 0;
    stroke-width: 12px;
  }
}
