@import "@styles/variables.scss";

.landing {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  gap: 32px;
  .mainGif {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;

    .mainImage {
      max-width: 500px;
      width: 100%;
      margin: auto;
      position: relative;
      .favButton {
        position: absolute;
        top: 4%;
        right: 4%;
        z-index: 1;
        border: none;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: #ffffff;
        cursor: pointer;
      }
    }
  }
}
