@import "@styles/variables.scss";
@import "@styles/mixins";


.landing {
  h1{
    @include titleNeon(#ffaaff)
  }
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
