@import "@styles/variables.scss";

.landing {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin: 24px auto;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
