@import "@styles/variables";

.gifSearchComponent {
  display: flex;
  flex-direction: column;
}

.formSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background: transparent;
  height: 36px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  color: $neon;
  border: $neon 0.125em solid;
  overflow: hidden;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 $neon, 0 0 0.5em 0 $neon;

  position: relative;
  &:hover,
  &:focus {
    color: $neonblue;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

    box-shadow: inset 0 0 0.5em 0 $neonblue, 0 0 0.5em 0 $neonblue;
    border-color: $neonblue;
    // background-color: $neon;
    text-shadow: none;
    outline: none;
  }

  .search,
  .quantity,
  .buttonsearch {
    height: 36px;
    border: none;
    color: inherit;
    font-size: 18px;
    padding: 0.25em 1em;
    background: transparent;
  }

  .search {
    flex: 1;
  }
  .quantity {
    border: 1px solid currentColor;
    max-width: 30px;
    padding: 0.25em 0;
    text-align: center;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus{
      color: $neonblue;
      outline: none;
    }
    -moz-appearance: textfield; /* Firefox */
  }
  .buttonsearch {
    &:hover,
    &:focus {
      cursor: pointer;
      background: $neon;
      color: $primary;
    }
  }
}
